---
import { getEntry, getCollection } from "astro:content"

// Components
import Layout from "../../layouts/Layout.astro"

// Utils
import { formatDate } from "../../utils"

export async function getStaticPaths() {
  const posts = (await getCollection("market")).sort(
    (a: any, b: any) => a.data.updated.valueOf() - b.data.updated.valueOf()
  )

  return posts.map(({ slug, data }) => ({
    params: { slug },
    props: { ...data },
  }))
}

const { slug } = Astro.params
const { title, updated, created_by } = Astro.props

// Content
const post = await getEntry("market", slug)
const { Content } = await post!.render()
---

<style>
  h3 {
    @apply text-orange-500;
  }

  section {
    @apply flex justify-end
     p-1;
  }

  article {
    @apply w-fit 
      grid grid-cols-2 gap-x-1 
      mb-6 
      text-xs;
  }

  article > div {
    @apply text-xs;
  }

  article > div:nth-of-type(odd) {
    @apply text-right;
  }

  article > div:nth-of-type(even) {
    @apply font-semibold;
  }
</style>

<style is:global>
  .market table {
    @apply mb-4;
  }

  .market table * {
    @apply text-[0.825rem];
  }

  .market table tr {
    @apply border-b
     border-b-orange-300;
  }

  .market table td {
    @apply p-1;
  }

  .market table td:nth-child(odd) {
    @apply bg-orange-200;
  }

  .market ul:has(img) {
    @apply grid
    grid-cols-1
    gap-1;
  }
  .market ul:has(img) li {
    @apply p-1
    bg-neutral-50
    rounded
    shadow-neutral-300
    shadow;
  }
  .market ul:has(li:not(:only-child)) {
    @apply grid-cols-2;
  }
</style>

<Layout classname="market">
  <h3>{title}</h3>
  <section>
    <article>
      <div>Aggiornato il</div>
      <div>{formatDate(updated)}</div>
      <div>Pubblicato da</div>
      <div>{created_by}</div>
    </article>
  </section>
  <Content />
</Layout>
