@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans
     text-base
     font-light;
}

a {
  @apply no-underline;
}

p {
  @apply mb-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-semibold tracking-tight;
  font-optical-sizing: auto;
}

h1 {
  @apply text-4xl mt-5 mb-4;
}
h2 {
  @apply text-3xl mt-4 mb-3;
}
h3 {
  @apply text-2xl mt-3 mb-2;
}
h4 {
  @apply text-xl my-2
}
h5 {
  @apply text-lg my-2;
}
h6 {
  @apply text-base my-2;
}

code * {
  @apply font-mono;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 1px !important;
  height: 1px !important;
}
