---
import { getEntry } from "astro:content"
// Components
import Layout from "../layouts/Layout.astro"
// Utils
import { formatDate } from "../utils"

// Styles
import "../styles/aviosuperficie.css"

// Content
const post = await getEntry("avio", "aviosuperficie")
const { Content } = await post.render()
const {
  data: { title, updated, created_by },
} = post
---

<Layout>
  <div class="avio">
    <h1 class="title">{title}</h1>
    <section class="info">
      <article>
        <div>Aggiornato il</div>
        <div>{formatDate(updated)}</div>
        <div>Pubblicato da</div>
        <div>{created_by}</div>
      </article>
    </section>
    <Content />
  </div>
</Layout>
