---
// Contents
import { getCollection } from "astro:content"
// Components
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
// Utils
import { handleCover } from "../utils"

const assets = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/posts/*.{jpg,jpeg,png}"
)

const posts = (await getCollection("posts", ({ data }) => data.featured == 0))
  .sort((a, b) => a.data.updated.valueOf() - b.data.updated.valueOf())
  .reverse()
  .slice(0, 31)
---

<style>
  section {
    @apply grid
    grid-cols-1 sm:grid-cols-2
    gap-2;
  }
</style>

<style is:global>
  x-section.card:nth-of-type(1) {
    @apply col-span-2;
  }
</style>

<Layout>
  <section>
    {
      posts.map(({ slug, data: { id, title, cover, updated, created } }) => (
        <Card
          id={id}
          link={`/${slug}`}
          src={handleCover(cover, assets)}
          alt={title}
          title={title}
          date={updated || created}
        />
      ))
    }
  </section>
</Layout>
