---
import Layout from "../layouts/Layout.astro"

import { getCollection } from "astro:content"

const posts = (await getCollection("posts", ({ data }) => data.featured == 1))
  .sort((a, b) => a.data.updated.valueOf() - b.data.updated.valueOf())
  .reverse()
---

<Layout>
  <h1 class="pt-0 my-0">AVIOSUPERFICIE BAIALUPO</h1>
</Layout>
