---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Homepage">
  <main class="max-w-screen-lg mx-2 lg:mx-auto pt-4">
    <h3 class="text-primary">primary</h3>
    <h3 class="text-primary-focus">primary-focus</h3>
    <h3 class="text-primary-content">primary-content</h3>

    <h3 class="text-secondary">secondary</h3>
    <h3 class="text-secondary-focus">secondary-focus</h3>
    <h3 class="text-secondary-content">secondary-content</h3>

    <h3 class="text-accent">accent</h3>
    <h3 class="text-accent-focus">accent-focus</h3>
    <h3 class="text-accent-content">accent-content</h3>

    <h3 class="text-neutral">neutral</h3>
    <h3 class="text-neutral-focus">neutral-focus</h3>
    <h3 class="text-neutral-content">neutral-content</h3>

    <p class="badge-ghost my-2 bg-info text-neutral p-2 rounded-md">Info</p>
    <p class="badge-ghost my-2 bg-success text-neutral p-2 rounded-md">
      Success
    </p>
    <p class="badge-ghost my-2 bg-warning text-neutral p-2 rounded-md">
      Warning
    </p>
    <p class="badge-ghost my-2 bg-error text-neutral p-2 rounded-md">Error</p>

    <div class="py-1 bg-base-100">
      <h3 class="">base 100</h3>
    </div>
    <div class="py-1 bg-base-200">
      <h3 class="">base 200</h3>
    </div>
    <div class="py-1 bg-base-300">
      <h3 class="">base 300</h3>
    </div>
    <div class="py-1 bg-base-content">
      <h3 class="text-gray-100">base content</h3>
    </div>
  </main>
</Layout>
