---
const { year = new Date().getFullYear() } = Astro.props;
---

<style>
  footer * {
    @apply text-[10px];
  }
</style>

<footer class="flex w-full">
  <div class="flex-1">
    Copyright © {year} Flying ASD
  </div>
  <div class="flex-1 text-right">
    <a href={`${import.meta.env.BASE_URL}/privacy`}>Privacy Policy</a>
  </div>
</footer>
