---
export interface Props {
  name: string
  height?: string
  width?: string
}

const { name, height = "24px", width = "24px" } = Astro.props
const { default: svg } = await import(`./icons/${name}.svg?raw`)
---

<div class=`icon` style={`height: ${height}; width: ${width};`}>
  <Fragment set:html={svg} />
</div>
