---
import { Image } from "astro:assets"
---

<style>
  section {
    @apply grid
    gap-1;
  }

  section > div {
    @apply p-1
    bg-neutral-50
    rounded
    shadow;
  }

  section > div:not(:first-child) {
    @apply flex flex-col
     items-center
     justify-center
     select-none
     whitespace-nowrap;
  }

  @media screen and (max-width: 640px) {
    section {
      @apply grid-cols-5;
    }

    section > div:first-child {
      @apply row-span-2;
    }

    section > div:first-child img {
      @apply min-h-[120px];
    }
  }

  @media screen and (min-width: 640px) {
    section {
      @apply grid-cols-2;
      grid-template-rows: 250px auto auto auto;
    }
    section > div:first-child {
      @apply col-span-2;
    }
    section > div:nth-of-type(2) {
      order: 1;
    }
    section > div:nth-of-type(3) {
      order: 3;
    }
    section > div:nth-of-type(4) {
      order: 5;
    }
    section > div:nth-of-type(5) {
      order: 7;
    }
    section > div:nth-of-type(6) {
      order: 2;
    }
    section > div:nth-of-type(7) {
      order: 4;
    }
    section > div:nth-of-type(8) {
      order: 6;
    }
    section > div:nth-of-type(9) {
      order: 8;
    }
  }
</style>
<section class="meteo">
  <div>
    <a href="/meteo">
      <Image
        src="http://www.ilmeteo.it/italy.png"
        alt="Il meteo di oggi by ilmeteo.it"
        width={222}
        height={240}
      />
    </a>
  </div>
  <div>
    <div id="temp" class="font-bold text-xl"></div>
    <div class="font-thin text-base">temperature</div>
  </div>
  <div>
    <div id="visibility" class="font-bold text-xl"></div>
    <div class="font-thin text-base">visibility</div>
  </div>
  <div>
    <div id="wind" class="font-bold text-xl"></div>
    <div class="font-thin text-base">wind</div>
  </div>
  <div>
    <div id="sunrise" class="font-bold text-xl"></div>
    <div class="font-thin text-base">sunrise</div>
  </div>
  <div>
    <div id="dewpoint" class="font-bold text-xl"></div>
    <div class="font-thin text-base">dewpoint</div>
  </div>
  <div>
    <div id="ceiling" class="font-bold text-xl"></div>
    <div id="ceiling-type" class="font-thin text-base">ceiling</div>
  </div>
  <div>
    <div id="qnh" class="font-bold text-xl"></div>
    <div class="font-thin text-base">QNH</div>
  </div>
  <div>
    <div id="sunset" class="font-bold text-xl"></div>
    <div class="font-thin text-base">sunset</div>
  </div>
</section>

<script src="./Meteo"></script>
