---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"

const posts = (await getCollection("mercatino")).sort(
  (a, b) => b.data.updated.valueOf() - a.data.updated.valueOf()
)
---

<Layout>
  <div class="flex flex-col flex-1 h-full">
    <h1 class="text-orange-500">Mercatino</h1>
    {
      posts.map(({ data: { title }, slug }) => (
        <a href={`/mercatino/${slug}`}>{title}</a>
      ))
    }
  </div>
</Layout>
