---
import { getEntry } from "astro:content"

// Components
import Back from "../../components/Back.astro"
import Layout from "../../layouts/Layout.astro"

// Styles
import "../../styles/aviosuperficie.css"
import Postinfo from "../../components/Postinfo.astro"

const post = await getEntry("avio", "aviosuperficie")
const { Content } = post ? await post.render() : {}
const { title, updated, created, created_by } = post?.data || {}
---

<Layout back={false}>
  <div class="avio">
    <h1 class="title">{title}</h1>
    <Back />
    <Postinfo updated={updated || created} created_by={created_by} />
    {Content ? <Content /> : "Content not found"}
  </div>
</Layout>
