---
import { getEntry } from "astro:content"

// Components
import Back from "../../components/Back.astro"
import Layout from "../../layouts/Layout.astro"

// Styles
import "../../styles/aviosuperficie.css"
import Postinfo from "../../components/Postinfo.astro"

// Content
const post = await getEntry("avio", "aviosuperficie")
const { Content } = await post.render()
const {
  data: { title, updated, created, created_by },
} = post
---

<Layout back={false}>
  <div class="avio">
    <h1 class="title">{title}</h1>
    <Back />
    <Postinfo updated={updated || created} created_by={created_by} />
    <Content />
  </div>
</Layout>
